@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
   /* border: 0.5px dotted green;
    */
}
.clear{
    clear: both;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    min-width: 840px; max-width: 960px;
    margin: 0 auto;
    background: rgb(245, 245,245);
}
header{
    float: right;   
}

/*언어 선택 영역*/
#langSelector{
    width: 100px;
    height: 30px;

    border: 1px solid rgba(0, 0,0,0.2);
    margin-top: 20px;

    position: relative;
}
#langSelector >span{
    position: absolute;
    font-size:12px;
    line-height: 30px;
    left: 5px;
}
#langSelector > #SelectButton{
    position: absolute;
    width: 20px;
    height: 100%;
    font-size: 16px;
    right: 5px;
    line-height: 30px;
    color: rgba(0, 0, 0,0.6);
}
main{
    width: 100%;
    min-width: 480px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

/*LoginSection 스타일*/
.loginSection{
    width : 80%;
    display:flex;
    align-items: center;
    flex-direction: column;
    
}
/*LoginSection의 Main구역 스타일*/
.loginSection > .formSection {
    width: 80%;
}
.loginSection > .formSection > form{

    box-sizing: border-box;
    width:100%;
    margin-top: 40px;
    margin-bottom: 0;
}
.loginSection > .formSection > form  input[type = text]{
    width: 100%;
    height: 50px;
    
    box-sizing: border-box;
    padding-left: 10px;
    color:rgba(0, 0, 0, 0.5);
    border:1px solid rgba(0, 0, 0, 0.2);
}
.loginSection > .formSection > form > input[type = button]{
    width: 100%;
    height: 60px;
    background: #03c75a;
    color: white;
    font-size: 16px;
    border: 1px solid rgb(43, 173, 43);
    margin:0;
}

/*로그인 상태유지 & IP보안 스타일*/
.loginSection > .formfooter{
    display: inline-block;
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: 3px 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    position: relative;
}

/*로그인 상태 유지*/
.loginSection > .formfooter > #keeplogin{
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}
.loginSection > .formfooter > #keeplogin > #keeploginButton{
    width:20px;
    height: 20px;
    border-radius: 20px;
    border:2px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
 
}
.loginSection > .formfooter > #keeplogin > #keeploginSentence{
    font-size: 15px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.8);
    margin-left:10px; ;
}

/*IP보안*/
.loginSection > .formfooter > #securityIP{
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right:10px;
}
.loginSection > .formfooter > #securityIP > #securityIPWord{
    margin-right: 10px;
}
.loginSection > .formfooter > #securityIP > #switchIP{
    font-weight: 900;
    color: #03c75a;
}

/*simpleLoginSection 스타일*/
.simpleLoginSection{
    width:64%;
    box-sizing: border-box;
    padding-top:20px; 
}
.simpleLoginSection > #simpleLoginSectionWord{
    text-align: center;
    font-weight: 900;
    font-size: 20px;
} 
.simpleLoginSection > #simpleLoginButtons{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.simpleLoginSection > #simpleLoginButtons div{
    width: 49%;
    height: 55px;
    border: 1px solid #03c75a;
    text-align: center;
    line-height: 55px;
    background: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-weight: 900;
}
.simpleLoginSection > #simpleLoginButtons > #QRcode{
    position: relative;
    left: -4px;
    cursor: pointer;
}

.simpleLoginSection > #simpleLoginButtons > #disposal{
    position: relative;
    right: -4px;
    cursor: pointer;
}
.simpleLoginSection > #findSection {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 14px;
}
.simpleLoginSection > #findSection > #findID{
    width:20%;
    border-right:1px solid rgba(0, 0, 0, 0.1);
}
.simpleLoginSection > #findSection > #findPassword{
    width:20%;
    border-right:1px solid rgba(0, 0, 0, 0.1);
}
.simpleLoginSection > #findSection > #SingIn{
    width:20%;
}